.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem calc((100vw - 1500px) /2);
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    /* width: 500px; */
}

.title_input {
    color: #f85f6a;
    
}

.form {
    display: flex;
    flex-direction: row;
}

.form-label {
    font-weight: 600;
    color: #35424A;
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 4em;

}

.icon-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    /* display: flex;
    justify-content: center;
    align-content: center;
    max-width: 760px; */
}

input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    font-size: 1rem;
}

label {
    padding: 0.5rem;
}