.title {
    display: flex;
    margin-top: 4em;
    justify-content: center;
    color: #f85f6a;
}

.history {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

/* .post-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #949397;
} */